html {
  font-size: 62.5%;

  @media (max-width: 1200px) {
    font-size: 50%;
  }

  @media (max-width: 768px) {
    font-size: 40%;
  }
}

html,
body {
  height: 100%;
}

body {
  font-weight: 600;
  font-family: 'Mulish';
  font-size: rem(14);
  color: rgb(255, 255, 255);
  letter-spacing: 0%;
  background-color: rgb(18, 18, 18);
  background-image: url('../images/dist/bg-shapes.png');
  background-repeat: no-repeat;
  background-position: 0 -204px;
  background-size: cover;
  z-index: 100;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1260px;
  // max-width: 1245px;
  margin: 0 auto;
  padding: 0 15px;

  &--for-what {
    // max-width: 1210px;
    max-width: 1140px;
  }

  &--expertise {
    max-width: 1225px;
  }

  &--reviews {
    max-width: 1390px;
  }
}

.button {
  border-radius: 10px;
  background-color: rgb(139, 87, 194);
  color: rgb(255, 255, 255);
  transition: color .5s;
  border: 2px solid transparent;

  &:focus {
    color: $focus;
  }

  &:hover {
    color: $ac;
    border: 2px solid $ac;
  }

  &:active {
    color: $active;
  }
}

// .svg {
//   margin-right: 5px;
// }

.title {
  font-size: rem(48);
  @include line-height(48, 60);
  font-weight: 700; //потом проверить проставлнгл ли

}

.section {
  @include adaptiveValue("padding-top", 60, 65);
  @include adaptiveValue("padding-bottom", 60, 65);
}

.logo {

  &__header {
    width: 315px;
    height: 80px;
    object-fit: cover;
  }
}

.btn {
  border: 2px solid white;
  background-color: white;
  color: $white;
  transition: background-color 0.5s;

  &:focus {
    color: $focus;
  }

  &:hover {
    background-color: $white;
    color: $white;
  }

  &:active {
    color: $active;
  }
}



// * {
//   // scrollbar-width: auto;
//   scrollbar-color: #C0C0C0 #EFEFF1;
//   //для потдержки скрола в фарфокс
// }

// footer__link--indent

// [class*="__container"] {
//     background-color: red;
// }

// [class*="__text"] {
//     @media (max-width: 768px) {
//         font-size: 16px;
//     }
// надо будет еще протестить не грузит ли оно сайт
// }

// отзеркалить блок
// &:nth-child(odd) {
//   flex-direction: row-reverse;
// }

// стили звезд
// .jq-ry-container {
//   // margin: 0 auto rem(25);
// }

// * {
//   scrollbar-color: silver #efeff1;
// }



.tabs__left::-webkit-scrollbar {
  /* 1 - скроллбар */
  width: 6px;
  height: 4px;
  // background-color: red;
  // border-radius: 20px;
}

::-webkit-scrollbar-button {
  // background-color: yellow;
    /* 2 - кнопка */
    // background-color: #fee301;
}

// ::-webkit-scrollbar-track {
//     /* 3 - трек */
//     background-color: green;
// }

::-webkit-scrollbar-track-piece {
    /* 4 - видимая часть трека */
    background-color: #E6E6E6;
}

::-webkit-scrollbar-thumb {
  // /* 5 - ползунок */
  // border-radius: 2px;
  background-color: #B4B4B4;
  border-radius: 20px;
}

// ::-webkit-scrollbar-corner {
//     /* 6 - уголок */
//     background-color: #01d8fe;
// }

// ::-webkit-resizer {
//   background-color: #fe01d8;
//     /* 7 - изменение размеров */
// }
// --------------------

