.header {
  padding-bottom: 20px;
  //потом проверить по пп
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: silver;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    background-color: transparent;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 44px;
    padding-right: 44px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transition: color .5s;

    @media (max-width: 576px) {
      display: none;
    }

    &:focus {
      color: $focus;
    }

    &:hover {
      color: $ac;
      border: 1px solid $ac;
    }

    &:active {
      color: $active;
    }
  }
}

.menu {
  display: flex;
  order: 1;

  &__btn {
    display: none;

    @media (max-width: 992px) {
      width: 30px;
      height: 22px;
      position: relative;
      border: none;
      display: flex;
      align-items: center;
      background-color: transparent;
      padding: 0;
      z-index: 10;

      span,
      &::before,
      &::after {
        transition: all .5s;
        position: absolute;
        content: '';
        height: 3px;
        width: 100%;
        background-color: $btn-menu;
      }

      &::before,
      &::after {
        position: absolute;
        content: '';
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &.active span {
        transform: scale(0);
      }

      &.active:before {
        transform: rotate(45deg);
        top: 9px;
      }

      &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
    }
  }

  &__items {
    display: flex;
    justify-content: center;
    @include adaptiveValue("gap", 40, 20);

    @media (max-width: 992px) {
      transform: translateY(-200%);
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      background-color: #edf1f4;
      transition: transform 1s;
      padding-bottom: 55px;
      padding-top: 20px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.active {
        transform: translateY(0%);
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 47%;
        top: 50%;
        transform: translateY(-63%) translateX(-50%);
        height: 100px;
        width: 455px;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -1;
      }
    }
  }

  &__item {
    @media (max-width: 992px) {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  &__link {
    transition: color .5s;
    color: $black;
    @include line-height(20, 23);
    letter-spacing: 0%;
    text-transform: uppercase;

    @media (max-width: 992px) {
      display: block;
      font-size: 20px;
    }

    &:focus {
      color: $focus;
    }

    &:hover {
      color: $ac;
    }

    &:active {
      color: $active;
    }
  }
}