.header {
  // @include adaptiveValue("padding-top", 35, 20);
  // @include adaptiveValue("padding-bottom", 35, 20);
  padding-top: 35px;
  padding-bottom: 35px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: silver;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    background-color: transparent;
    font-weight: 400;
    // @include adaptiveValue("padding-bottom", 12, 0);
    // @include adaptiveValue("padding-top", 12, 0);
    // @include adaptiveValue("padding-left", 44, 20);
    // @include adaptiveValue("padding-right", 44, 20);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 44px;
    padding-right: 44px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transition: color .5s;

    @media (max-width: 576px) {
      display: none;
    }

    &:focus {
      color: $focus;
    }

    &:hover {
      color: $ac;
      border: 1px solid $ac;
    }

    &:active {
      color: $active;
    }
  }
}

.menu {
  display: flex;
  order: 1;

  &__btn {
    display: none;

    @media (max-width: 992px) {
      width: 30px;
      height: 22px;
      position: relative;
      border: none;
      display: flex;
      align-items: center;
      background-color: transparent;
      padding: 0;
      z-index: 10;

      // @media (min-width: 768px) {
      //   display: none;
      // }

      span,
      &::before,
      &::after {
        transition: all 0.5s;
        position: absolute;
        content: '';
        height: 3px;
        width: 100%;
        background-color: $btn-menu;
      }

      &::before,
      &::after {
        position: absolute;
        content: '';
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &.active span {
        transform: scale(0);
      }

      &.active:before {
        transform: rotate(45deg);
        top: 9px;
      }

      &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
    }
  }

  // &__logo {}

  // &__btn {}

  &__items {
    display: flex;
    justify-content: center;
    // @include adaptiveValue("gap", 40, 20);
    gap: 40px;

    @media (max-width: 992px) {
      transform: translateY(-200%);
      position: absolute;
      top: 0px;
      width: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      background-color: #edf1f4;
      transition: transform 1s;
      padding: 55px 0 20px;
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media (max-width: 992px) {
        height: 100vh;
      }

      &.active {
        transform: translateY(0%);
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 47%;
        top: 50%;
        transform: translateY(-63%) translateX(-50%);
        // height: 10rem;
        // width: 45.5rem;
        height: 100px;
        width: 455px;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -1;
      }

      // @media (min-width: 768px) {
      //   transform: inherit;
      //   position: inherit;
      //   display: flex;
      //   justify-content: space-between;
      //   @include adaptiveValue("gap", 50, 20);
      //   background-color: transparent;
      //   flex-direction: row;
      //   padding: 0;
      //   width: inherit;
      //   margin-right: rem(45);
      //   height: inherit;
      //   position: relative;

      //   // @media (min-width: 768px) {
      //   //   margin-right: rem(85);
      //   // }

      //   &::before {
      //     background-image: url('../images/sprite.svg#cloud');
      //     transform: translateY(-50%) translateX(-50%);
      //   }
      // }
    }
  }

  &__item {
    @media (max-width: 992px) {
      width: 100%;
      text-align: center;
      // margin-bottom: rem(20);
      margin-bottom: 20px;

      &:not(:last-child) {
        margin-right: 0;
      }

      // @media (min-width: 768px) {
      //   margin-bottom: 0;
      // }
    }
  }

  &__link {
    font-size: 14px;// так и было без рем
    transition: color .5s;

    @media (max-width: 992px) {
      display: block;
      // font-size: rem(20);
      font-size: 20px;
      color: black;

      @media (max-width: 1200px) {
        color: rgb(113, 93, 0);
        @include line-height(20, 23);
        letter-spacing: 0%;
        text-decoration: underline 1px solid;
        text-transform: uppercase;
        transition: color .5s;
      }

      &:focus {
        color: $focus;
      }

      &:hover {
        color: $ac;
      }

      &:active {
        color: $active;
      }
    }

    &:focus {
      color: $focus;
    }

    &:hover {
      color: $ac;
    }

    &:active {
      color: $active;
    }
  }
}