.awaits-you {
  &__title {
    text-align: center;
    @include adaptiveValue("margin-bottom", 40, 20);
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: rem(20);
  }

  &__item {
    @include adaptiveValue("padding-bottom", 40, 20);
    @include adaptiveValue("padding-top", 30, 20);
    @include adaptiveValue("padding-left", 40, 10);
    @include adaptiveValue("padding-right", 110, 20);
    max-width: rem(605);
    border-radius: 20px;
    background: radial-gradient(3755.70% 141.42% at 0% 100%, rgb(80, 71, 64), rgb(92, 67, 89) 16.363%, rgb(56, 43, 63) 42.194%, rgb(23, 23, 23) 100%);
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__svg {
    @include adaptiveValue("margin-right", 35, 20);
  }

  &__box {
    max-width: rem(355);
  }

  &__subtitle {
    color: rgb(139, 87, 194);
    font-size: rem(20);
    font-weight: 700;
    @include line-height(20, 26);
    margin-bottom: rem(15);
  }

  &__subtext {

    &--home {
      letter-spacing: 0.9px;
    }

    &--curatori {
      letter-spacing: -0.3px;
      max-width: rem(330);
    }

    &--teaching {
      letter-spacing: 1px;
      max-width: rem(300);
    }

    &--diploma {
      max-width: 330px;
      letter-spacing: 0.9px;
    }
  }

  &__subtext p {
    font-weight: 300;
  }

  &__diploma {
    letter-spacing: 0.8px;
  }

  &__subtext span {
    font-weight: 700;
    letter-spacing: -0.2px;
  }
}