.employment {
  &__wrapper {
    border-radius: 32px;
    background: rgb(33, 33, 33);
    @include adaptiveValue("padding-bottom", 85, 20);
    @include adaptiveValue("padding-top", 80, 20);
    @include adaptiveValue("padding-left", 105, 20);
    @include adaptiveValue("padding-right", 105, 20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("gap", 30, 20);
  }

  &__title {
    @include adaptiveValue("margin-bottom", 40, 20);
  }

  &__title span {
    display: block;

    &:nth-child(2) {
      color: rgb(139, 87, 194);
      display: inline;
    }
  }

  &__item {
    display: flex;
    @include adaptiveValue("gap", 20, 0);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 25, 20);
    }
  }

  &__text {
    letter-spacing: 0px;
    font-size: rem(16);
    font-weight: 700;

    &--receive {
      letter-spacing: -0.2px;
      max-width: rem(470);
    }

    &--diploma {
      letter-spacing: -0.4px;
      max-width: rem(440);
    }

    &--students {
      letter-spacing: -0.2px;
      max-width: rem(440);
    }
  }

  &__text span {
    opacity: 0.7;
  }

  &__img {
    width: rem(395);
    height: rem(315);
    object-fit: contain;
  }
}