.expertise {
  &__title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;

    @media (max-width: 1200px) {
      max-width: 370px;
      margin: 0 auto 30px;
    }
  }

  &__subtext span,
  &__text span,
  &__title span {
    color: rgb(139, 87, 194);
  }

  &__text {
    // @include adaptiveValue("margin-bottom", 40, 20);
    // margin-bottom: 40px;
    font-size: 20px;
    font-weight: 400;
    @include line-height(20, 26);
    text-align: center;
    max-width: 545px;
    margin: 0 auto 40px;

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  &__text p {
    letter-spacing: -0.2px;
  }

  &__items {
    display: flex;
    justify-content: center;
    gap: 20px;

    @media (max-width: 1200px) {
      // max-width: 100%;
      width: 1400px;
      overflow: auto;
      // height: 55vh;
      // width: 395px;
      // overflow: overlay;

      // overflow: scroll;
      // overflow-y: scroll;
      justify-content: start;
    }
  }

  &__item {
    position: relative;

    @media (max-width: 1200px) {
      width: 395px;
      // width: 395px;
      // overflow: overlay;
    }
  }

  &__img {
    width: 325px;
    height: 485px;
    object-fit: cover;
    border-radius: 20px;

    @media (max-width: 576px) {
      width: 240px;
      height: 295px;
    }
  }

  &__box {
    border-radius: 20px;
    // @include adaptiveValue("padding-top", 40, 20);
    padding-top: 40px;
    position: absolute;
    bottom: 4px;
    left: 0;
    text-align: center;
    width: 100%;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.69) 50.292%);
  }

  &__subtitle {
    // @include adaptiveValue("margin-bottom", 30, 20);
    margin-bottom: 30px;
    // font-size: rem(24);
    font-size: 24px;

    @media (max-width: 576px) {
      font-size: 20px;
    }
  }

  &__subtext {
    // margin-bottom: rem(20);
    margin-bottom: 20px;
    letter-spacing: -0.2px;

    @media (max-width: 576px) {
      font-size: 12px;
      max-width: 205px;
    }
  }

  &__subtext span {
    display: block;
    // max-width: rem(260);
    max-width: 260px;
    margin: 0 auto;
    // margin-bottom: rem(10);
    margin-bottom: 10px;
  }
}