.reserve {

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__left {}

  &__items {
    display: flex;
    @include adaptiveValue("margin-bottom", 30, 20);
    @include adaptiveValue("gap", 25, 20);
  }

  &__item {
    display: flex;
    align-items: center;
    font-weight: 400;
  }

  &__svg {
    margin-right: rem(10);
  }

  &__title {
    font-family: Mulish;
    font-size: rem(44);
    font-weight: 700;
    text-transform: uppercase;
    @include adaptiveValue("margin-bottom", 60, 20)
  }

  &__title span {
    color: rgb(139, 87, 194);
  }

  &__info {
    font-size: rem(26);
    font-weight: 700;
    @include adaptiveValue("margin-bottom", 75, 20);
    max-width: rem(385);
  }

  &__text {
    font-size: rem(20);
    font-weight: 700;
    @include adaptiveValue("margin-bottom", 40, 20);
    max-width: rem(590);
  }

  &__text span {
    color: rgb(139, 87, 194);
  }

  &__subtext {
    font-size: rem(20);
    font-weight: 300;
    @include line-height(20, 26);
    margin-bottom: rem(10);
  }

  &__list {
    display: flex;
    gap: rem(15);
  }

  &__list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include adaptiveValue("padding-bottom", 2, 0);
    @include adaptiveValue("padding-top", 12, 0);
    @include adaptiveValue("padding-left", 32, 20);
    @include adaptiveValue("padding-right", 32, 20);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    max-width: rem(90);
  }

  &__list li span {
    color: rgb(0, 0, 0);
    font-size: rem(20);
    font-weight: 700;
    @include line-height(20, 26);
  }

  &__list li p {
    color: rgb(0, 0, 0);
    font-size: rem(12);
    font-weight: 400;
    @include line-height(12, 26);
  }
}

.form {
  border-radius: 20px;
  background: rgb(255, 255, 255);
  @include adaptiveValue("padding-bottom", 60, 20);
  @include adaptiveValue("padding-top", 60, 20);
  @include adaptiveValue("padding-left", 105, 20);
  @include adaptiveValue("padding-right", 105, 20);
  max-width: rem(605);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;

  &__box {
    position: absolute;
    top: 2%;
    right: 1%;
    z-index: 100;
    max-width: rem(95);
    font-size: rem(12);
    font-weight: 700;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      left: 34%;
      transform: translateX(-50%) translateY(-50%); //только по вертикали ниже другое
      top: 54%;
      width: rem(220);
      height: rem(170);
      background-image: url('../images/shape.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;
    }
  }

  &__box span {
    font-size: rem(30);
  }

  &__title {
    color: rgb(0, 0, 0);
    font-size: rem(32);
    font-weight: 700;
    @include adaptiveValue("margin-bottom", 60, 20);
    max-width: rem(235);
  }

  &__text {
    color: rgb(40, 40, 40);
    font-size: rem(20);
    font-weight: 400;
    @include line-height(20, 26);
    text-align: start;
    @include adaptiveValue("margin-bottom", 20, 20);
    max-width: rem(350);
  }

  &__label {
    position: relative;
  }

  &__input {
    width: 100%;
    max-width: rem(395);
    @include adaptiveValue("padding-bottom", 16, 10);
    @include adaptiveValue("padding-top", 16, 10);
    @include adaptiveValue("padding-left", 32, 20);
    @include adaptiveValue("padding-right", 32, 20);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 4px;
    background: rgb(245, 245, 245);

    &::placeholder {
      color: rgb(0, 0, 0);
      font-weight: 400;
      @include line-height(16, 26);
    }

    &--tel {
      @include adaptiveValue("margin-bottom", 30, 20);
    }

    &--name,
    &--email {
      margin-bottom: rem(10);
    }
  }

  &__email,
  &__name {
    color: red;
    display: none;
    position: absolute;
    bottom: 40%;
    white-space: nowrap;
  }

  &__tel {
    color: red;
    display: none;
    position: absolute;
    white-space: nowrap;
    bottom: -164%;
  }


  &__message {
    color: green;
    display: none;
    position: absolute;
    bottom: -30%;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%); //только по вертикали ниже другое
  }

  &__wrapper {
    margin-bottom: rem(10);
  }

  &__inner {
    position: relative;
  }

  &__button {
    @include adaptiveValue("padding-bottom", 12, 0);
    @include adaptiveValue("padding-top", 12, 0);
    @include adaptiveValue("padding-left", 44, 20);
    @include adaptiveValue("padding-right", 44, 20);
    position: relative;
  }

  &__subtext {
    color: rgb(100, 100, 100);
    font-weight: 400;
    margin-bottom: rem(20);
  }

  &__policy {
    color: rgb(100, 100, 100);
    font-size: rem(12);
    font-weight: 300;
    max-width: rem(235);
  }

  &__link {
    text-decoration: underline;
  }
}

// .iti .iti--allow-dropdown .iti--separate-dial-code {
//   color: red;
//   display: none;
//   position: absolute;
//   bottom: 40%;
//   white-space: nowrap;
// }

// стили плагина инпута телефона
.iti {
  width: 100%;
  margin-bottom: rem(10);
}

.iti__selected-flag {
  padding: 0 6px 0 32px;
}

.iti__country-name {
  color: #999999;
}

.iti--allow-dropdown input,
.iti--allow-dropdown input[type=text],
.iti--allow-dropdown input[type=tel],
.iti--separate-dial-code input,
.iti--separate-dial-code input[type=text],
.iti--separate-dial-code input[type=tel] {
  @include adaptiveValue("padding-left", 75, 20);
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: transparent;
}

.iti__selected-dial-code {
  color: black;
}