.reviews {

  &__title {
    text-align: center;
    @include adaptiveValue("margin-bottom", 55, 20);
    max-width: rem(700);
    margin: 0 auto;
  }

  &__title span {
    &:nth-child(1) {
      color: rgb(139, 87, 194);
    }
  }

  &__button {
    padding: 10px 43px 10px 43px;
    margin: 0 auto;
    max-width: rem(250);
    display: flex;
  }
}

.reviews-slider {
  @include adaptiveValue("margin-bottom", 55, 20);
  display: flex;
  align-items: center;

  &__img {
    width: rem(220);
    height: rem(465);
    border-radius: 30px;
  }
}

.reviews-slider .slick-slide {
  opacity: .7;
}

.reviews-slider .slick-center {
  transition: .5s;
  transform: scale(1.8);
  opacity: 1;
  z-index: 100;
}

.reviews-slider .slick-center .reviews-slider__img {
  border-radius: 17px;
  height: rem(460);
  z-index: 100;
}

// .slick-track {
//   display: flex;
//   align-items: center;
// }

.slick-slide {
  // !!!
  // margin: 0 15px;/* Отступы между слайдами */
}

// .slick-slide .slick-active {
//   transform: scale(0);
// }

.slick-list {
  // padding-top: 190px !important;
  // padding-bottom: 180px !important;
  // margin: 0 -15px;!!!!
  /* Убираем общие отступы для выравнивания */
}

.slick-prev,
.slick-next {
  transition: color .5s;

  &:focus {
    color: $ac;
  }

  &:hover {
    &::before {
      background-color: $ac;
    }
  }

  &:active {
    color: $active;
  }
}


.slick-next {
  border: none;
  background-color: transparent;
  font-size: 0;
  background-image: url('../images/sprite/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 36px;
  height: 24px;
  margin-left: 20px;
  width: 100%;
  max-width: 50px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #26628E;
    z-index: -100;
  }
}

.slick-prev {
  border: none;
  background-color: transparent;
  font-size: 0;
  background-image: url('../images/sprite/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 36px;
  height: 24px;
  margin-right: 20px;
  width: 100%;
  max-width: 50px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #26628E;
    z-index: -100;
  }
}

