.spheres {
  &__title {
    text-align: center;
    max-width: 860px;
    margin: 0 auto 30px;
  }

  &__title span {
    color: rgb(139, 87, 194);
  }

  &__pretext {
    text-align: center;
    max-width: 680px;
    margin: 0 auto 60px;
    font-size: 24px;
    letter-spacing: -0.6px;

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 400;
    max-width: 1040px;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
    position: relative;
    letter-spacing: 0px;

    @media (max-width: 576px) {
      font-size: 16px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -30%;
      right: 0;
      height: 155px;
      width: 180px;
      left: 50%;
      transform: translateX(-50%); //только по вертикали ниже другое
      background-image: url('../images/dist/img.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;

      @media (max-width: 576px) {
        width: 236px;
        height: 203px;
      }
    }
  }

  &__text span {
    opacity: .7;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 110px;

    @media (max-width: 992px) {
      justify-content: center;
    }
  }

  &__item {
    border-radius: 20px;
    background: radial-gradient(433.76% 96.88% at 100% 100%, rgb(80, 71, 64), rgb(92, 67, 89) 16.363%, rgb(56, 43, 63) 42.194%, rgb(23, 23, 23) 100%);
    max-width: 605px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 45px;
    padding-left: 40px;
    padding-right: 40px;

    @media (max-width: 1200px) {
      max-width: 470px;
    }

    @media (max-width: 992px) {
      max-width: 605px;
    }

    @media (max-width: 576px) {
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__svg {
    margin-right: 35px;

    @media (max-width: 576px) {
      min-width: 48px;
      margin-right: 15px;
    }
  }

  // &__box {}

  &__subtitle {
    margin-bottom: 10px;
    font-size: 26px;

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  &__subtext {
    max-width: 445px;
    font-weight: 400; //перебил
  }
}