.use-ai {
  &__title {
    text-align: center;
    @include adaptiveValue("margin-bottom", 30, 20);
  }

  &__title span {
    color: rgb(139, 87, 194);
  }

  &__info {
    font-size: rem(20);
    font-weight: 400;
    @include line-height(20, 26);
    text-align: center;
    @include adaptiveValue("margin-bottom", 40, 20);
    max-width: rem(893);
    margin: 0 auto;
    letter-spacing: 0.5px;
  }

  &__info span {
    letter-spacing: 0;
  }

  &__subtext span,
  &__info span {
    opacity: 0.7;
  }

  &__items {
    display: flex;
    justify-content: center;
    gap: rem(20);
    @include adaptiveValue("margin-bottom", 70, 20);
  }

  &__item {
    @include adaptiveValue("padding-bottom", 40, 20);
    @include adaptiveValue("padding-top", 40, 20);
    @include adaptiveValue("padding-left", 40, 20);
    @include adaptiveValue("padding-right", 35, 2);
    border-radius: 32px;
    background: radial-gradient(565.82% 141.42% at 0% 100%, rgb(80, 71, 64), rgb(92, 67, 89) 16.363%, rgb(56, 43, 63) 42.194%, rgb(23, 23, 23) 100%);
    @include adaptiveValue("margin-bottom", 25, 20);
  }

  &__svg {
    @include adaptiveValue("margin-bottom", 20, 0);
  }

  &__subtitle {
    @include adaptiveValue("margin-bottom", 25, 20);
    color: rgb(139, 87, 194);
    font-size: rem(20);
    font-weight: 700;
    @include line-height(20, 26);
  }

  &__text {
    max-width: rem(320);
    letter-spacing: -0.3px;
  }

  &__subtext {
    max-width: rem(895);
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: rem(20);
    font-weight: 400;
    letter-spacing: 0.4px;

    &::before {
      content: "";
      position: absolute;
      top: -13%;
      right: 0;
      height: 13rem;
      width: 18rem;
      left: 50%;
      transform: translateX(-50%);
      background-image: url('../images/dist/77.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;
    }
  }

  &__subtext span{
    letter-spacing: 0px;
  }
}